* {
    /* Não altere nada aqui dentro */
    font-family: "Poppins", sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /* Não altere nada aqui dentro */
    height: 100vh;
    width: 100%;
    background-color: var(--black);
}

:root {
    /* Não altere nada aqui dentro */
    --red: #A00000;
    --blue: #0021D1;
    --white: #FFFFFF;
    --black: #030406;
}

/* Escreva a partir daqui */

.full_container {
    display: flex;
    justify-content: space-between;
}

.left_circle {
    border-radius: 50%;
    width: 30%;
    height: 100vh;
    margin-right: 20px;
    background-color: var(--red);
    color: white;
}
.main_container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
}
.right_circle {
    border-radius: 50%;
    width: 30%;
    height: 100vh;
    margin-right: 20px;
    background-color: var(--blue);
    color: white;
}